{% extends "base.html" %} {% load static %} {% block content %}
<body
	class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<div id="page">
		<div class="container">
			<p>Hello,</p>
			<p>You requested a password reset. Click the link below to proceed:</p>
			<p>
				<a
				<a href="http://localhost:8000{% url 'password_reset_confirm' uidb64=uid token=token %}">
					Reset Password
				</a>
			</p>
			<p>If you didn’t request this, ignore this email.</p>
		</div>
	</div>
</body>

{% endblock %}
