

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings
    PYTHONPATH: /var/app/current
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /media: media
# Service Role Settings
  aws:elasticbeanstalk:environment:
    ServiceRole: aws-elasticbeanstalk-service-role
  
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: 8000
    Protocol: HTTP
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"