{% extends "base.html" %}
{% load static %}
{% block content %}
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<div id="page">
		<div class="container">
			
			<!-- #masthead -->
			<div id="content" class="site-content">
				<div id="primary" class="content-area column full">
					<main id="main" class="site-main">
						<h1 style="padding-bottom:4px;">Update Blog</h1>
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							{{ form.non_field_errors }}
							<div class="form-group">
								<label for="{{ form.title.id_for_label }}">Title</label>
								{{ form.title }}
								{{ form.title.errors }}
							</div>
							<div class="form-group">
								<label for="{{ form.content.id_for_label }}">Content</label>
								{{ form.content }}
								{{ form.content.errors }}
							</div>
							<div class="form-group">
								<label for="{{ form.image.id_for_label }}">Image</label>
								{{ form.image }}
								{{ form.image.errors }}
								{% if object.image %}
									<img src="{{ object.optimized_image.url }}" alt="{{ object.title }}" style="max-width: 200px; margin-top: 10px;">
								{% endif %}
							</div>
							<div class="form-group">
								<label for="{{ form.tags.id_for_label }}">Tags</label>
								{{ form.tags }}
								{{ form.tags.errors }}
							</div>
							<button type="submit" class="btn btn-primary">Update Blog</button>
							<a href="{% url 'blog' %}" class="btn btn-secondary" style="margin-left: 10px; color:white;">Cancel</a>
						</form>
						<nav class="pagination">
						<span class="page-numbers current">1</span>
						<a class="page-numbers" href="#">2</a>
						<a class="next page-numbers" href="#">Next »</a>
						</nav>
						<br/>
					
					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->
			</div>
			<!-- #content -->
		</div>
		<!-- .container -->

	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->

</body>
</html>

{% endblock %}

