
{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel='stylesheet' href='{% static  "css/woocommerce-layout.css"   %}' type='text/css' media='all'/>
    <link rel='stylesheet' href='{% static "css/woocommerce-smallscreen.css" %}' type='text/css' media='only screen and (max-width: 768px)'/>
    <link rel='stylesheet' href='{% static "css/woocommerce.css" %}' type='text/css' media='all'/>
    <link rel='stylesheet' href='{% static "css/font-awesome.min.css" %}' type='text/css' media='all'/>
    <link rel='stylesheet' href='{% static "css/style.css" %}' type='text/css' media='all'/>
    <link rel='stylesheet' href='{% static "css/easy-responsive-shortcodes.css" %}' type='text/css' media='all'/>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>

    <title>I Ran in 2025</title>
</head>

<header id="masthead" class="site-header">
    <div class="site-branding">
        <h1 class="site-title">
            <a href="{% url "home" %}">
              <img src="{% static "images/logo.svg" %}" alt="logo">
           </a>
           
        <h2 class="site-description">In 2025 I Ran..</h2>
    </div>
    <nav id="site-navigation" class="main-navigation">
        <button class="menu-toggle">Menu</button>
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        <div class="menu-menu-1-container">
            <ul id="menu-menu-1" class="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                {% comment %} <li><a href="shop.html">Shop</a></li> {% endcomment %}

                {% comment %} <li><a href="elements.html">Elements</a></li> {% endcomment %}
                <li><a href="#">Pages</a>
                <ul class="sub-menu">
                    <li><strong>Photos</strong>
                        {% for photo in photo_list %}
                        <li><a href="{% url "photo_detail" photo.id %}">{{ photo.title }}</a></li>
                   
                       {% endfor %}
                    </li>
                    <li><strong>Blog</strong>
                    {% for blog in blog_list %}
                       <li><a href="{% url "blog_detail" blog.slug %}">{{ blog.title }}</a></li>
                    </li>
                   {% endfor %}
                   {% comment %} {% for blog in blog_list %}
                    <li><a href="{% url "blog_detail" blog.slug %}">{{ blog.title }}</a></li>
                    {% endfor %} {% endcomment %}
                    {% comment %} <li><a href="portfolio-item.html">Portfolio Item</a></li> {% endcomment %}
                    {% comment %} <li><a href="blog-single.html">Blog Article</a></li> {% endcomment %}
                    {% comment %} <li><a href="shop-single.html">Shop Item</a></li> {% endcomment %}
                    {% comment %} <li><a href="portfolio-category.html">Portfolio Category</a></li> {% endcomment %}
                    {% comment %} <li><a href="shop-single.html">Shop Item</a></li>
                    <li><a href="portfolio-category.html">Portfolio Category</a></li> {% endcomment %}
                </ul>
                </li>
                {% comment %} <li><a href="contact.html">Contact</a></li> {% endcomment %}
            </ul>
        </div>
    </nav>
</header>

{% block content %}







{% endblock content %}

</body>
    <script src='{% static "js/jquery.js" %}'></script>
    <script src='{% static "js/plugins.js" %}'></script>
    <script src='{% static "js/scripts.js" %}'></script>
    <script src='{% static  "js/masonry.pkgd.min.js" %}'></script>

  <body>    
 </html>