{% extends "base.html" %}
{% load static %}
{% block content %}



<body class="blog">
	<div id="page">
		<div class="container">
	
			<!-- #masthead -->
			<div id="content" class="site-content">
				<div id="primary" class="content-area column two-thirds">
					<main id="main" class="site-main" role="main">
						<div class="grid bloggrid">
						
						{% for blog in blogs %}
							<article>
								<header class="entry-header">
									<h1 class="entry-title">
										<a href="{% url 'blog_detail' blog.slug %}">{{ blog.title }}</a>
									</h1>
									<div class="entry-meta">
										<span class="posted-on"><time class="entry-date published">{{blog.date_created}}</time></span>						
										{% comment %} <span class="comments-link"><a href="#">Leave a comment</a></span> {% endcomment %}
									</div>
									<div class="entry-thumbnail">						
										<a href="{% url 'blog_detail' blog.slug %}">
											<img src="{{ blog.image.url }}" alt="image">
										</a>
									</div>
							</header>
								<div class="entry-summary">
									<p>
										{{ blog.content|truncatewords:30 }}
										<a class="more-link" href="{% url 'blog_detail' blog.slug %}">Read more</a>
									</p>
								</div>
								{% comment %} <footer class="entry-footer">
								<span class="cat-links">
								Posted in <a href="#" rel="category tag">audio</a>, <a href="#" rel="category tag">embed</a>, <a href="#" rel="category tag">media</a>
								</span>
								</footer> {% endcomment %}
							</article>

						{% endfor %}
							
						</div>
					<div class="clearfix">
					</div>
					<nav class="pagination"></nav>
					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->
				
				<div id="secondary" class="column third">
					<div id="sidebar-1" class="widget-area" role="complementary">
					
						<aside id="text-5" class="widget widget_text">
						<h4 class="widget-title">About Me</h4>
						<div class="textwidget">
							<p>
								<img src="{% static 'images/about.jpg' %}" class="alignleft" style="width:80px;border-radius:50%;margin-bottom:0;" alt="image">
								I am just a girl who recently took up running for the fun of it. In my other lifetime, you will find me doing some coding and sometimes doing some art and taking care of my house plants. In my present lifetime, you will not find me, because i will be in stillness. 
								
							</p>
						</div>
						</aside>
						
						<aside id="recent-posts-2" class="widget widget_recent_entries">
							<h4 class="widget-title">Recent Posts</h4>
							<ul>
					           {% for blog in  blogs%}
								<li>
								  <a href="{% url "blog_detail"  blog.slug%}">{{blog.title}}</a>
								</li>
								{% endfor %}
								
							</ul>
						</aside>
						
						
						
					
					
						
					</div>
					<!-- .widget-area -->
				</div>
				<!-- #secondary -->
			</div>
			<!-- #content -->
		</div>
		<!-- .container -->
	
		<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
	</div>
	
	</body>



{% endblock %}



