{% extends "base.html" %}
{% load static %}
{% block content %}
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
	<div id="page">
		<div class="container">
			
			<!-- #masthead -->
			<div id="content" class="site-content">
				<div id="primary" class="content-area column full">
					<main id="main" class="site-main">
						<div class="grid portfoliogrid">

						{% comment %} image-1 {% endcomment %}
						{% for photos in photo %}
							<article class="hentry">
								<header class="entry-header">
									<div class="entry-thumbnail">
										<a href="portfolio-item.html"><img src="{{photos.image.url}}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="pic"/></a>
									</div>
									<h2 class="entry-title"><a href="portfolio-item.html" rel="bookmark">{{photos.title}}</a></h2>
									{% if photos.category %}
										<a class='portfoliotype' href='portfolio-category.html'>{{photos.category.month}}</a>
										<a class='portfoliotype' href='portfolio-category.html'>{{photos.category.venue}}</a>
										<a class='portfoliotype' href='portfolio-category.html'>{{photos.category.race}} KM</a>
									 {% endif %} 
								</header>
							</article>
						{% endfor %}	
							
						
							
						</div>
						<!-- .grid -->
						
						<nav class="pagination">
						<span class="page-numbers current">1</span>
						<a class="page-numbers" href="#">2</a>
						<a class="next page-numbers" href="#">Next »</a>
						</nav>
						<br/>
					
					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->
			</div>
			<!-- #content -->
		</div>
		<!-- .container -->

	<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
</div>
<!-- #page -->

</body>
</html>

{% endblock %}